@{
    ViewData["Title"] = "Log In";
}

<form action="/Home/LogIn" enctype="multipart/form-data" method="POST">
    <input type="password" name="password">
    <button type="submit" class="btn btn-primary">Log In</button>
</form>